<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>动漫信息网</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="./js/vue.js"></script>
	<script type="text/javascript" src="./js/jquery.js"></script>
	<script type="text/javascript" src="./js/router.js"></script>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="./css/elementui.min.css">
	<!-- 引入组件库 -->
	<script src="./js/elementui.min.js"></script>
	<script src="./layui/lay/modules/layer.js"></script>
	<link rel="stylesheet" href="./layui/css/modules/layer/default/layer.css">
	<style type="text/css">
		*{margin:0px;padding:0px;}
		html,body{width:100%;height:100%;}
		#app{
			width:100%;height:auto;
		}
		/* 头部开始 */
		#theme_top{
			width:100%;
			height:140px;
		}
		#theme_top .top{
			width:100%;height:30px;background:white;position:absolute;top:0px;
			filer:alpha(opacity=80);
      		opacity:0.8;
		}
		#theme_top .bottom{
			width:100%;height:140px;background:url('./img/new_bg.jpg') -115px;
		}
		#theme_top .bottom .container{
			width:1250px;
			height:100%;
			margin:0px auto;
			display:flex;
		}
		#theme_top .bottom .container .logo{
			width:300px;
			height:86px;
			background:url('./img/logo.png') -57px;
			margin-top:45px;
		}
		#theme_top .bottom .container .search{
			width:650px;
			height:50px;
		}
		#theme_top .bottom .container .search .search_el{
			width:500px;height:50px;background:#8fbbe7;
			margin:65px auto;display:flex;
		}
		#theme_top .bottom .container .search .search_el .search_panel{
			width:440px;height:45px;margin:2.5px 0px 2.5px 2.5px;overflow:hidden;
		}
		#theme_top .bottom .container .search .search_el .search_btn{
			width:60px;height:50px;cursor:pointer;color:white;line-height:50px;text-align:center;
		}
		#container{
			width:100%;
		}
		#container .bar{
			width:100%;height:50px;background:url('./img/nav_bg.png');border-bottom:4px solid #8fbbe7;
		}
		#container .bar .bar_content{
			width:1250px;height:50px;margin:0px auto;display:flex;
		}
		#container .bar .bar_content .item{
			width:110px;height:50px;font-size:18px;line-height:50px;text-align:center;cursor:pointer;color:white;margin-left:4px;
		}
		#container .bar .bar_content .selected{
			background:#8fbbe7;color:blue;margin-left:0px;
		}
		#container .bar .bar_content .item:hover{
			background:#8fbbe7;color:blue;
		}
		#container .content{
			width:1250px;height:auto;overflow:hidden;margin:20px auto;border:1px solid #e3e3e3;
		}
		/* 头部结束 */

		/* 留言区开始 */
		#container .content .msg_publish{
			width:95%;
			height:200px;
			margin:0px auto;
		}
		.btn:hover{
			opacity:0.8;
		}
		/* 留言结束 */
	</style>
</head>
<body>
	<div id="app">
		<div id="theme_top">
			<div class="top">
				<div style="width:1250px;height:30px;margin:0px auto;">
					<div v-if="!login" id="user" style="width:100px;height:30px;float:right;display:flex;">
						<a @click="login_()" href="#"><div style="margin-top:5px;width:50px;height:20px;line-height:20px;text-align:center;font-size:12px;border-right:1px solid #c2c2d1;">登陆</div></a>
						<a @click="regist_()" href="#"><div style="margin-top:5px;width:50px;height:20px;line-height:20px;text-align:center;font-size:12px;">注册</div></a>
					</div>
					<div v-if="login" id="user" style="width:100px;height:30px;float:right;display:flex;">
						<a href="#"><div style="margin-top:5px;width:50px;height:20px;line-height:20px;text-align:center;font-size:12px;border-right:1px solid #c2c2d1;">{{nickname}}</div></a>
						<a @click="out()" href="#"><div style="margin-top:5px;width:50px;height:20px;line-height:20px;text-align:center;font-size:12px;">退出</div></a>
					</div>
				</div>
			</div>
			<div class="bottom">
				<div class="container">
					<div class="logo"></div>
					<div class="search">
						<div class="search_el">
							<div class="search_panel">
								<input type="text" name="" style="width:100%;height:100%;font-size:16px;" placeholder="请输入关键字">
							</div>
							<div class="search_btn">
								搜索
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="container">
			<div class="bar">
				<div class="bar_content">
					<a style="color:white;text-decoration:none;" href="index.html"><div class="item">首页</div></a>
					<div class="item">国创动漫</div>
					<div class="item">日本动漫</div>
					<a style="color:white;text-decoration:none;" href="msg.html"><div class="item selected">留言专区</div></a>
				</div>
			</div>
			<div class="content">
				<div style="width:100%;height:50px;border-bottom:1px solid #e3e3e3;padding-left:10px;font-size:20px;color:gray;overflow:hidden;">
					<div style="width:100%;height:20px;line-height:20px;margin-top:15px;border-left:3px solid #c2bbbb;padding-left:5px;">网友留言</div>
				</div>
				<div class="msg_publish">
					<div style="border:1px solid #e3e3e3;height:100%;width:100%;margin-top:30px;display:flex;flex-direction:column;">
						<div style="width:100%;height:150px;border-bottom:1px solid #e3e3e3;overflow:hidden;">
							<div style="width:98%;height:140px;margin:5px auto;">
								<textarea v-model="txt" @keyup="count()" style="width:100%;height:100%;font-size:16px;outline-style:none;border:0px;resize:none;line-height:20px;"></textarea>
							</div>
						</div>
						<div style="flex-grow:1;width:100%;">
							<div style="width:98%;margin:0px auto;height:100%;">
								<!-- <div style="width:32px;height:32px;margin:9px 0px;cursor:pointer;float:left;">
									<img src="./img/img_icon.png" />
								</div> -->
								<div style="width:300px;height:50px;float:right;display:flex;">
									<div style="width:200px;height:50px;font-size:12px;line-height:50px;color:#8b8d8b;text-align:right;">
										您还可以输入<span style="color:red;">{{less}}</span>字
									</div>
									<div style="width:100px;height:50px;">
										<div @click="submit()" class="btn" style="width:90px;height:35px;margin-top:7.5px;float:right;text-align:center;line-height:35px;background:#3591d5;color:white;font-size:13px;cursor:pointer;">发布</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div style="width:95%;height:130px;margin:20px auto;border:1px solid #e3e3e3;display:flex;">
					<div @click="remove(index)" v-for="(item , index) in imgs" style="width:100px;height:100px;margin:15px 0px 15px 15px;line-height:100px;cursor:pointer;"><img :src="item.url" style="width:100%;height:100%;" />
					</div>
					<div @click="upload" style="width:100px;height:100px;margin:15px 0px 15px 15px;line-height:100px;text-align:center;font-size:25px;border:1px dotted #8f8786;color:#c6c6c6;cursor:pointer;">+</div>
				</div>
				<div style="width:95%;margin:20px auto;border-bottom:1px solid #e3e3e3;color:#bab3b3;height:40px;line-height:40px;font-size:18px;overflow:hidden;">
					<div style="width:100%;height:20px;line-height:20px;margin-top:10px;border-left:3px solid #c2bbbb;padding-left:5px;">所有留言</div>
				</div>
				<div style="width:95%;margin:0px auto;">
					<div v-for="(item,index) in msgs" style="width:100%;display:flex;padding:20px 0px;border-bottom:1px solid #e3e3e3;">
						<div style="width:60px;">
							<img class="icon" :src="item.user.icon" style="width:60px;height:60px;border:1px solid #e3e3e3;" />
						</div>
						<div style="flex-grow:1;">
							<div style="width:100%;height:14px;line-height:14px;font-size:14px;color:#999;padding-left:12px;">{{item.user.nickname}}</div>
							<div style="width:100%;margin-top:10px;">
								<div style="width:1115.5px;margin-left:12px;color:#333333;font-size:14px;line-height:22px;">
									{{item.data}}
								</div>
							</div>
							<div v-if="item.imgs.length != 0" style="width:1115.5px;margin-left:12px;height:100px;display:flex;margin-top:10px;">
								<div v-for="img in item.imgs" style="width:100px;height:100px;margin-right:20px;">
									<img :src="img.url" style="width:100%;height:100%;border:1px solid #e3e3e3;" />
								</div>
							</div>
							<div style="width:1115.5px;margin-left:12px;color:#999;height:16px;margin-top:30px;">
								<div style="width:120px;height:100%;line-height:18px;font-size:12px;float:left;">
									{{item.publish_time}}
								</div>
								<div style="width:120px;height:100%;line-height:16px;font-size:12px;float:right;display:flex;">
									<div style="width:50px;height:100%;display:flex;">
										<div><i @click="up($event , index)" :data="item.has_up ? 'yes' : 'no'" style="width:16px;height:16px;display:block;cursor:pointer;" :style="{background:item.has_up ? 'url(./img/up_.png)' : 'url(./img/up.png)'}"></i></div>
										<div style="width:24px;height:16px;line-height:16px;font-size:12px;margin-left:10px;">{{item.up}}</div>
									</div>
									<div style="width:50px;height:100%;margin-left:20px;">
										<div><i @click="reply(index)" style="width:16px;height:16px;background:url('./img/talk.png');display:block;cursor:pointer;"></i></div>
									</div>
								</div>
							</div>
							<div v-if="item.reply != undefined && item.reply.length != 0" style="margin-top:30px;border-top:1px solid #e3e3e3;width:1115.5px;margin-left:12px;color:#999;">
								<div v-for="reply in item.reply" style="width:100%;line-height:20px;font-size:13px;display:flex;">
									<div style="color:blue;cursor:pointer;">{{reply.user.nickname}}：</div>
									<div style="margin-left:15px;">{{reply.data}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div style="width:100%;height:160px;background:#8fbbe7;text-align:center;overflow:hidden;">
				<div style="color:#615f5f;font-size:12px;margin-top:50px;">
					动漫信息网，为您提供优质的动漫资讯，为您提供快速流畅的动漫播放
				</div>
				<div style="color:#615f5f;font-size:12px;margin-top:50px;">
					Copyright © 2005-2015 动漫信息网
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	var width = $(document).width()
	var height = $(document).height()

	//读取cookies
	function getCookie(name)
	{
	    var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
	 
	    if(arr=document.cookie.match(reg))
	 
	        return unescape(arr[2]);
	    else
	        return null;
	}

	function delCookie(name)
	{
		var exp = new Date();
		exp.setTime (exp.getTime() - 1);
		var cval = getCookie (name);
		document.cookie = name + "=" + cval + "; expires="+ exp.toGMTString();
	}

	var app = new Vue({
      el: '#app',
      data: {
    	login:false ,
    	nickname:"" ,
    	txt:"" ,
    	less:200 ,
    	imgs:[] ,
    	msgs:[]
      } ,
      created:function(){
      	var self = this 
      	$.ajax({
      		url:"/api/all_msg/1/10" ,
      		success:function(res){
      			if(res.code == 200){
      				self.msgs = res.data.list
      			}
      		}
      	})
      } ,
      methods:{
      	login_:function(){
      		layer.open({
      			type:2 ,
				title:false ,
				area:["350px" , "300px"] ,
				content:"./login.html"
			})
      	} ,
      	out:function(){
      		var self = this
      		layer.confirm("确认退出" , function(index){
      			self.login = false 
	      		self.nickname = ""
      			layer.close(index)
      			delCookie("username")
	      		delCookie("nickname")
      		})
      	} ,
      	count:function(){
      		if(this.txt.length > 200){
      			layer.msg("您的输入已经达到上限")
      			this.txt = this.txt.substring(0 , 200)
      		}
      		this.less = 200 - this.txt.length
      	} ,
      	upload:function(){
      		if(this.imgs.length > 2){
      			layer.msg("图片数量已经达到上限")
      			return
      		}
      		var self = this
      		var input = document.createElement("input") ;
      		input.type = "file"
      		var form = new FormData();
      		//form.append("editormd-image-file")
      		input.onchange = function(e){
      			//form.submit()
      			form.append("editormd-image-file" , e.path[0].files[0])
      			$.ajax({
      				url:"/api/uploadImage" ,
      				type:'POST',
      				data:form ,
      				processData : false,
					contentType : false,
      				success:function(res){
      					res = JSON.parse(res)
      					if(res.success*1 == 1){
      						var item = {url:res.url}
      						self.imgs.push(item)
      					}
      				}
      			})
      		}
      		input.click()
      	} ,
      	remove:function(index){
      		var self = this
      		layer.confirm("是否移除此图片" , function(i){
      			layer.close(i)
      			self.imgs.splice(index , 1)
      		})
      	} ,
      	submit:function(){
      		if(this.txt == ""){
      			layer.msg("发布内容不能为空")
      			return
      		}
      		if(!getCookie("username")){
      			layer.msg("您还没有登陆，请点击右上角登陆按钮登陆")
      			return
      		}
      		var data = {txt:this.txt , imgs:this.imgs}
      		var self = this
      		$.ajax({
      			url:"/api/publish" ,
      			type:"POST" ,
      			data:data ,
      			success:function(res){
      				if(res.code == 200){
      					layer.msg("成功")
      					self.msgs.unshift({id:res.data.id , data:self.txt , publisher:decodeURI(getCookie("username")) , publish_time:"刚刚" , up:0 , imgs:self.imgs , user:{nickname:decodeURI(getCookie("nickname")) , "icon":decodeURI(getCookie("icon"))} , has_up:false})
      				}else{
      					layer.msg(res.msg)
      				}
      			} ,
      			fail:function(){
      				layer.msg("请检查网络连接")
      			}
      		})
      	} ,
      	up:function(e , index){
      		var el = e.srcElement
      		var self = this ;
      		if(el.getAttribute("data") == "no"){
      			$.ajax({
      				url:"/api/up/up/"+self.msgs[index].id ,
      				success:function(res){
      					el.style.background = "url('./img/up_.png')" ;
		      			el.setAttribute("data" , "yes") ;
		      			self.msgs[index].up++ ;
      				}
      			})
      		}else{
      			$.ajax({
      				url:"/api/up/no/"+self.msgs[index].id ,
      				success:function(res){
      					el.style.background = "url('./img/up.png')" ;
		      			el.setAttribute("data" , "no") ;
		      			self.msgs[index].up-- ;
      				}
      			})
      		}
      	} ,
      	reply:function(index){
      		var self = this
      		layer.open({
      			type:2 ,
      			title:false ,
      			area:["500px" , "210px"] ,
      			content:"reply.html?id="+self.msgs[index].id 
      		})
      	}
      }
    }) ;

    if(getCookie("username")){
		app.$data.login = true
		app.$data.nickname = decodeURI(getCookie("nickname"))
	}
</script>
</html>